@CHARSET "UTF-8";

.commandLinks {
	margin: 5px;
    padding: 5px 5px 5px 20px; /* 20px makes room for your background image */
    /*border: 1px solid #aaa; */
    
}

.commandLinks .create {
	margin-right: 10px;
	color: red;
}

.commandLinks .vote {
	color: blue;
}

.commandLinks .link {
	color: purple;
	font-size: 22px;
	margin: 10px 10px 10px 10px;
}

.link1 {
	text-decoration: none;
	font-size: 18px;
	color: teal;
}

.button {
	margin-right: 20px;
}

.header {
	font-size: 18;
	font-weight: bold;
}

h1 {
	color: grey;
	font-size: 20;
	text-align: center; 
}

.center {
	text-align: center;
}
.RAVA {
	color: olive;
	font-size: 36px;
	text-decoration: none;
	font-style: oblique;
}

table.pretty {
    background: none repeat scroll 0 0 whitesmoke;
    border-collapse: collapse;
    margin: 0.5em;
    width: 100%;
}

table.pretty  th {
    border: 1px solid silver; 
    padding: 0.3em;
    vertical-align: top; 
}


table.pretty  td {
    border: 1px solid silver; 
    padding: 0.3em;
    vertical-align: top; 
}

table.vote {
	border-collapse: collapse;
}

table.vote th, td {
	font-size:  20px;
	padding:  17px;
	border: none;
}

.message {
	color: red;
}

.main {
	margin: 50px;
	padding: 50px;
}

.margin1 {
	margin: 20px;
}

.marg {
	margin-left: 30px;
	border-collapse: collapse;
}

.content {
	margin-left:  20px;
}

.marg td {
	padding: 0;
	border: none;
}

.margRight {
	margin-right: 20px;
}

.margLeft {
	margin-left: 20px;
}

.algnRight {
	text-align: right;
}

/* #content {
    background: none repeat scroll 0 0 white;
    border: 1px solid #666666;
    margin-left: 100px;
    margin-top: 20px;
    padding: 0;
    top: 0;
    width: 1100px;
} 

.highlight-box {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #888888;
    color: black;
    padding: 10px;
} */

.highlight-box-margin {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #888888;
    color: black;
    margin-right: 300px;
    padding: 10px;
}
  
